<div class="container-all pt-3">
  <div class="centered-box shadow-lg">
    <h1>{{title}}</h1>
    {{#if user}}
    <p>Welcome back <span> {{user.username}} </span></p>
    {{else}}
    <p>Welcome to {{title}}</p>
    {{/if}}
  </div>
</div>